/* estilos.css */
table {
    width: 100%;
    border-collapse: collapse; /* une a borda das células */
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}
